<div class="layout-topbar" #containerElement>
  <a class="menu-button" (click)="onMenuButtonClick($event)">
    <i class="pi pi-bars"></i>
  </a>
  <ul #topbarMenu class="topbar-menu">
    <li class="topbar-submenu">
      <p-avatar [label]="getInitials(userDTO['nome'])" shape="circle"
                [style]="{'width': '45px', 'height': '45px','background': '#E5EEF4','font-family': 'Inter', 'font-style': 'normal',
                          'font-weight': 'normal', 'font-size': '16px', 'line-height': '24px', 'color': '#7D9EB5'}"
                styleClass="m-icon-user-menu mr-2"></p-avatar>
    </li>
  </ul>
</div>
