<div class="flex justify-content-start align-items-center w-full h-full" style="padding-left: 120px ">
  <section id="login-card" style="width: 34vw">
    <div class="card flex flex-column">
      <div class="welcome">
        welcome!
      </div>
      <div class="sing-in">
        Sign in to
      </div>
      <div class="lorem">
        Lorem Ipsum is simply
      </div>
      <div class="field">
        <label for="float-username" class="label">User Name</label>
        <input id="float-username" name="float-username" type="text" placeholder="Enter your user name" pInputText class="w-full p-inputtext-lg" [(ngModel)]="user.email">
      </div>
      <div class="field">
        <label for="float-password" class="label">Password</label>
        <input id="float-password" name="float-password" type="text" placeholder="Enter your Password" pInputText class="w-full p-inputtext-lg" [(ngModel)]="user.password">
      </div>
      <div class="flex justify-content-between">
        <div class="field-checkbox">
          <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
          <label for="binary" class="checked">Remember me</label>
        </div>
        <div class="forgot">
          <a href="#">Forgot Password?</a>
        </div>
      </div>
      <div class="py-2">
        <button pButton pRipple type="button" label="Login" class="p-button-custom w-full" (click)="isLoggedIn()"></button>
      </div>
      <div class="py-2 w-full">
        <div class="flex justify-content-center align-items-center register">
          <a href="/register">Don’y have an Account ? <strong class="pl-1 text-900">Register</strong></a>
        </div>
      </div>
    </div>
  </section>
  <section id="image" style="width: 35vw">
    <div class="image-login">
    </div>
  </section>
</div>
